node-red/nodered-dashboard.txt
[{"id":"b5d1af96.0416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c8ae2cac.6a966","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"buffer","newline":"~E","topic":"","base64":false,"x":210,"y":120,"wires":[["6c2da9ad.76706"]]},{"id":"6c2da9ad.76706","type":"function","z":"b5d1af96.0416f8","name":"Read TinyOS Serial Message","func":"//MODIFY HERE WITH LENGTH OF PAYLOAD IN BYTES\nvar PAYLOAD_BYTES = 5;\nvar tinyos_payload;\nvar ready = false;\n\n//initialize context if not ready\ncontext.bytes_received = context.bytes_received || 0;\ncontext.bytes_array = context.bytes_array || [];\n\n//update count of bytes received\nvar bytes_received = msg.payload.length;\ncontext.bytes_received+=bytes_received;\n\n//copy received bytes in context\nfor(var i=0;i<msg.payload.length;i++){\n\tcontext.bytes_array.push(msg.payload[i]);\n}\n\n//create TinyOS payload if correct number of bytes is received\nif(context.bytes_received >= 13 + PAYLOAD_BYTES){\n\t\n\tmsg.payload = context.bytes_array;\n\ttinyos_payload = context.bytes_array.slice(10,-3);\n\n\tcontext.bytes_received = 0;\n\tcontext.bytes_array = [];\n\n\tready = true;\n}\n\nif(ready){\n\t//GET THE PAYLOAD (HEX FORMAT)\n\tvar byte_payload = new Buffer(tinyos_payload.length);\n\tfor(var i=0;i<tinyos_payload.length;i++){\n\t\tbyte_payload[i] = tinyos_payload[i];\n\t}\n\t\n\t//GET THE SINGLE FIELDS\n\tif(byte_payload.readUInt8(0,1) == 2){\n\t\tmsg.topic=\"temperature\";\n\t\tmsg.payload = {};\n\t\tmsg.payload.id=byte_payload.readUInt16BE(1,3);\n\t\tmsg.payload.value=byte_payload.readUInt16BE(3,5);\n\t}\n\t\n\tif(byte_payload.readUInt8(0,1) == 3){\n\t\tmsg.topic=\"humidity\";\n\t\tmsg.payload = {};\t\t\n\t\tmsg.payload.id=byte_payload.readUInt16BE(1,3);\n\t\tmsg.payload.value=byte_payload.readUInt16BE(3,5);\n\t}\n\t\n\treturn msg;\t\n}\n\nelse{\n\treturn null;\n}\n","outputs":"1","x":213.0000228881836,"y":239.99997806549072,"wires":[["702e5f6d.040d2"]]},{"id":"6cf82738.312ad","type":"file","z":"b5d1af96.0416f8","name":"write temperature file","filename":"temperature","appendNewline":true,"overwriteFile":"false","x":632.9999542236328,"y":178,"wires":[[]]},{"id":"498da603.ab238","type":"debug","z":"b5d1af96.0416f8","name":"debug temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":604.9999542236328,"y":110.99999904632568,"wires":[]},{"id":"702e5f6d.040d2","type":"switch","z":"b5d1af96.0416f8","name":"switch temp/hum","property":"topic","rules":[{"t":"eq","v":"temperature"},{"t":"eq","v":"humidity"}],"checkall":"false","outputs":2,"x":180.99996948242188,"y":444.0000228881836,"wires":[["6cf82738.312ad","c12ba38b.d150f8","498da603.ab238","4c969fef.27ff9"],["2735e6f5.88a58a","ef0549b4.79aae","7fe7573a.7bbb","d225d48d.4595c"]]},{"id":"2735e6f5.88a58a","type":"file","z":"b5d1af96.0416f8","name":"write humidity file","filename":"humidity","appendNewline":true,"overwriteFile":"false","x":615.9999580383301,"y":661.9999628067017,"wires":[[]]},{"id":"ef0549b4.79aae","type":"debug","z":"b5d1af96.0416f8","name":"debug humidity","active":true,"console":"false","complete":"payload","x":563.9999561309814,"y":719.9999628067017,"wires":[]},{"id":"490800d3.1acc2","type":"e-mail","z":"b5d1af96.0416f8","server":"smtp.gmail.com","port":"465","name":"noderedproject@gmail.com","dname":"Email","x":880.9999570846558,"y":283.00003814697266,"wires":[]},{"id":"c12ba38b.d150f8","type":"function","z":"b5d1af96.0416f8","name":"Temperature Warning","func":"context.previous_temp = context.previous_temp || msg.payload.value;\nvar temp_id = msg.payload.id;\nvar temp = msg.payload.value;\nvar upperThreshold = 26;\nvar lowerThreshold = 18;\nvar new_value = false;\n\n// Check if the new temperature is different from the previous\nif (context.previous_temp != temp){\n\tcontext.previous_temp = temp;\n\tnew_value=true;\n}\nif(new_value){\t\n\tif ( temp >= upperThreshold){\n\t\tmsg.topic=\"temperature warning, id: \" + String(temp_id);\n\t\tmsg.payload = \"It's too hot! Current temperature is \" + String(temp) + \"°C\";\n\t\treturn msg;\n\t}\n\telse if ( temp <= lowerThreshold){\n\t\tmsg.topic=\"temperature warning, id: \" + String(temp_id);\n\t\tmsg.payload = \"It's too cold! Current temperature is \" + String(temp) + \"°C\";\n\t\treturn msg;\n\t}\n\telse{\n\treturn null;\n\t}\n}\nelse{\n\treturn null;\n}","outputs":"1","x":704.9999580383301,"y":282.99999237060547,"wires":[["490800d3.1acc2"]]},{"id":"7fe7573a.7bbb","type":"function","z":"b5d1af96.0416f8","name":"Humidity Warning","func":"context.previous_hum = context.previous_hum || msg.payload.value;\nvar hum_id = msg.payload.id;\nvar hum = msg.payload.value;\nvar upperThreshold = 52;\nvar lowerThreshold = 48;\nvar new_value = false;\n\n// Check if the new humidity is different from the previous\nif (context.previous_hum != hum){\n\tcontext.previous_hum = hum;\n\tnew_value=true;\n}\nif(new_value){\t\n\tif ( hum >= upperThreshold){\n\t\tmsg.topic=\"humidity warning, id: \" + String(hum_id);\n\t\tmsg.payload = \"It's too wet! Current humidity is \" + String(hum) + \"%\";\n\t\treturn msg;\n\t}\n\telse if ( hum <= lowerThreshold){\n\t\tmsg.topic=\"humidity warning, id: \" + String(hum_id);\n\t\tmsg.payload = \"It's too dry! Current humidity is \" + String(hum) + \"%\";\n\t\treturn msg;\n\t}\n\telse{\n\treturn null;\n\t}\n}\nelse{\n\treturn null;\n}","outputs":1,"x":711.0000076293945,"y":544.0000114440918,"wires":[["f62f05a0.95b128"]]},{"id":"f62f05a0.95b128","type":"e-mail","z":"b5d1af96.0416f8","server":"smtp.gmail.com","port":"465","name":"noderedproject@gmail.com","dname":"Email","x":879.0000038146973,"y":544.0000114440918,"wires":[]},{"id":"d3b09d4d.dcc59","type":"function","z":"b5d1af96.0416f8","name":"Plot Temperature","func":"context.array_id = context.array_id || [];\ncontext.array_temp = context.array_temp || [];\ncontext.array_id.push(msg.payload.id);\ncontext.array_temp.push(msg.payload.value);\nmsg.payload = [];\n\nfor(var i=0; i<context.array_id.length; i++){\n\t\tmsg.payload[i] = {\n\t\t\t\t\t\t\tid: context.array_id[i], \n\t\t\t\t\t\t\ttemp: context.array_temp[i],\n\t\t\t\t\t\t};\n}\n\nreturn msg;\n\n","outputs":1,"x":973.000186920166,"y":397.9999809265137,"wires":[["ad6957c6.fddfd8"]]},{"id":"ad6957c6.fddfd8","type":"chart response","z":"b5d1af96.0416f8","x":1155.9996395111084,"y":397.9999809265137,"wires":[]},{"id":"96239519.7e1048","type":"chart request","z":"b5d1af96.0416f8","charttype":"LineChart","path":"/temperature","refresh":"1","formatx":"","formaty":"","attribs":[{"name":"id","type":"number"},{"name":"temp","type":"number"}],"x":471.99989318847656,"y":399.99999237060547,"wires":[["7c458c18.1e1bbc"]]},{"id":"d225d48d.4595c","type":"file","z":"b5d1af96.0416f8","name":"write hum_plot support file","filename":"hum_plot","appendNewline":true,"overwriteFile":"true","x":679.9999580383301,"y":604.9999628067017,"wires":[[]]},{"id":"4c969fef.27ff9","type":"file","z":"b5d1af96.0416f8","name":"write temp_plot support file","filename":"temp_plot","appendNewline":true,"overwriteFile":"true","x":680.9999580383301,"y":231.99997806549072,"wires":[[]]},{"id":"4200015c.37826","type":"json","z":"b5d1af96.0416f8","name":"json parser","x":803.0000038146973,"y":398.0000419616699,"wires":[["d3b09d4d.dcc59"]]},{"id":"7c458c18.1e1bbc","type":"file in","z":"b5d1af96.0416f8","name":"read temp_plot","filename":"temp_plot","format":"utf8","x":639.9999542236328,"y":399.00002360343933,"wires":[["4200015c.37826"]]},{"id":"8d30d33b.21874","type":"file in","z":"b5d1af96.0416f8","name":"read hum_plot","filename":"hum_plot","format":"utf8","x":637.9999580383301,"y":450.99999237060547,"wires":[["ef094d1a.fb3ab8"]]},{"id":"1b539360.029635","type":"chart response","z":"b5d1af96.0416f8","x":1156.9999389648438,"y":450.9999809265137,"wires":[]},{"id":"2b15734a.dd1cb4","type":"chart request","z":"b5d1af96.0416f8","charttype":"LineChart","path":"/humidity","refresh":"1","formatx":"","formaty":"","attribs":[{"name":"id","type":"number"},{"name":"hum","type":"number"}],"x":470.9999542236328,"y":450.99999237060547,"wires":[["8d30d33b.21874"]]},{"id":"c1b9f490.224878","type":"function","z":"b5d1af96.0416f8","name":"Plot Humidity","func":"context.array_id = context.array_id || [];\ncontext.array_hum = context.array_hum || [];\ncontext.array_id.push(msg.payload.id);\ncontext.array_hum.push(msg.payload.value);\nmsg.payload = [];\n\nfor(var i=0; i<context.array_id.length; i++){\n\t\tmsg.payload[i] = {\n\t\t\t\t\t\t\tid: context.array_id[i], \n\t\t\t\t\t\t\thum: context.array_hum[i],\n\t\t\t\t\t\t};\n}\n\nreturn msg;\n","outputs":1,"x":964.9999465942383,"y":450.9999809265137,"wires":[["1b539360.029635"]]},{"id":"ef094d1a.fb3ab8","type":"json","z":"b5d1af96.0416f8","name":"json parser","x":802.2499771118164,"y":451.00001335144043,"wires":[["c1b9f490.224878"]]}]