node-red/nodered-dashboard.txt
[{"id":"b5d1af96.0416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"af175719.8e968","type":"mqtt in","z":"b5d1af96.0416f8","name":"mqtt-receiver","topic":"#","qos":"0","broker":"7c57f6c4.3c047","x":110,"y":60,"wires":[["c4728cfd.176358","2418571a.517fa","e56c21a3.be5418"]]},{"id":"23773774.9c5aa","type":"debug","z":"b5d1af96.0416f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":330,"y":140,"wires":[]},{"id":"2418571a.517fa","type":"ui_text","z":"b5d1af96.0416f8","group":"1a4f8994.63fa8e","order":0,"width":"0","height":"0","name":"Raw Data","label":"Raw Data","format":"{{msg.payload}}","layout":"col-center","x":360,"y":60,"wires":[]},{"id":"c4728cfd.176358","type":"json","z":"b5d1af96.0416f8","name":"","property":"payload","action":"","pretty":false,"x":130,"y":240,"wires":[["23773774.9c5aa","d95542d9.b89058","930740cb.d6393","269d6397.85d5b4","d0a5909f.cf339","3e97a7e4.8dcaf"]]},{"id":"e606c57d.0949c8","type":"ui_text","z":"b5d1af96.0416f8","group":"556a5436.4cd3d4","order":0,"width":0,"height":0,"name":"","label":"Device","format":"{{msg.payload}} ","layout":"row-spread","x":550,"y":208,"wires":[]},{"id":"da9cc007.9b04f8","type":"ui_text","z":"b5d1af96.0416f8","group":"556a5436.4cd3d4","order":0,"width":0,"height":0,"name":"","label":"Last msg seq. number","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":248,"wires":[]},{"id":"b1fe4ad9.9fe928","type":"ui_text","z":"b5d1af96.0416f8","group":"556a5436.4cd3d4","order":0,"width":0,"height":0,"name":"","label":"Current State","format":"{{msg.payload}} ","layout":"row-spread","x":580,"y":168,"wires":[]},{"id":"d95542d9.b89058","type":"debug","z":"b5d1af96.0416f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":180,"wires":[]},{"id":"273781c.1e00f7e","type":"ui_text","z":"b5d1af96.0416f8","group":"556a5436.4cd3d4","order":0,"width":0,"height":0,"name":"","label":"Uptime","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":288,"wires":[]},{"id":"e56c21a3.be5418","type":"file","z":"b5d1af96.0416f8","name":"","filename":"smart-citofono.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":390,"y":20,"wires":[[]]},{"id":"930740cb.d6393","type":"function","z":"b5d1af96.0416f8","name":"MsgParser","func":"var dev_info=msg.payload.d;\nvar d = new Date();\n\nid={\"payload\":dev_info.id.toString()};\ndevice={\"payload\":dev_info.type.toString()};\nseq= {\"payload\":dev_info.seq.toString()};\nuptime= {\"payload\":dev_info.uptime.toString()};\nlast_time={\"payload\": d.toLocaleTimeString('de-AT')}\nreturn [id,device,seq,uptime,last_time];","outputs":5,"noerr":0,"x":330,"y":260,"wires":[["b1fe4ad9.9fe928"],["e606c57d.0949c8"],["da9cc007.9b04f8"],["273781c.1e00f7e"],["4f21e00d.928f88"]]},{"id":"4f21e00d.928f88","type":"ui_text","z":"b5d1af96.0416f8","group":"556a5436.4cd3d4","order":0,"width":0,"height":0,"name":"","label":"Last Received","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":328,"wires":[]},{"id":"ec22fcda.a18b78","type":"ui_button","z":"b5d1af96.0416f8","name":"channelActivity","group":"1a4f8994.63fa8e","order":0,"width":"1","height":"1","passthru":false,"label":"","color":"BLACK","bgcolor":"{{payload}}","icon":"","payload":"","payloadType":"str","topic":"","x":580,"y":440,"wires":[[]]},{"id":"269d6397.85d5b4","type":"function","z":"b5d1af96.0416f8","name":"buttonParser","func":"var id = msg.payload.d.id.toString();\nvar state;\nvar notification={\"payload\":\"a\"};\nvar btn_state={\"enabled\":false};\n\nif(id==\"i\")\n    state_msg={\"enabled\":false,\"payload\":\"IDLE\",\"background\":\"white\"};\nif(id==\"o\")\n    state_msg={\"enabled\":false,\"payload\":\"OPENING\",\"background\":\"yellow\"};\nif(id==\"r\")\n{\n    btn_state={\"enabled\":true}\n    notification= {\"payload\":\"The interphone is ringing!\"};\n    state_msg={\"enabled\":false,\"payload\":\"RINGING!\",\"background\":\"red\"};\n}\nif(id==\"y\")\n    state_msg={\"enabled\":false,\"payload\":\"GATE\\nOPENED!\",\"background\":\"green\"};\nif(id==\"n\")\n    state_msg={\"enabled\":false,\"payload\":\"GATE NOT<br>OPENED\",\"background\":\"grey\"};\n\nreturn [state_msg, btn_state, notification];","outputs":3,"noerr":0,"x":330,"y":560,"wires":[["15bd9ad8.88275d"],["d4184a3d.e426c"],["991db27f.177468"]]},{"id":"15bd9ad8.88275d","type":"ui_button","z":"b5d1af96.0416f8","name":"state","group":"b3e7ba13.dfb8c","order":0,"width":"2","height":"2","passthru":false,"label":"{{payload}}","color":"BLACK","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"","x":550,"y":520,"wires":[[]]},{"id":"d4184a3d.e426c","type":"ui_button","z":"b5d1af96.0416f8","name":"","group":"b3e7ba13.dfb8c","order":0,"width":"2","height":"2","passthru":false,"label":"OPEN","color":"BLACK","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"","x":550,"y":560,"wires":[["9c8e2870.396da8"]]},{"id":"c2fffee0.4cc9d","type":"ui_toast","z":"b5d1af96.0416f8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":590,"y":640,"wires":[]},{"id":"e3fc6e59.032ae","type":"change","z":"b5d1af96.0416f8","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":440,"wires":[["ec22fcda.a18b78"]]},{"id":"d0a5909f.cf339","type":"trigger","z":"b5d1af96.0416f8","op1":"green","op2":"white","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":340,"y":380,"wires":[["e3fc6e59.032ae"]]},{"id":"991db27f.177468","type":"switch","z":"b5d1af96.0416f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"a","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":640,"wires":[["c2fffee0.4cc9d","b8265ec2.473fa8"]]},{"id":"da465e9a.688128","type":"ui_audio","z":"b5d1af96.0416f8","name":"","group":"b3e7ba13.dfb8c","voice":"en-GB","always":"","x":560,"y":700,"wires":[]},{"id":"b8265ec2.473fa8","type":"function","z":"b5d1af96.0416f8","name":"ringRing","func":"msg={\"payload\":\"RING RING MOTHERFUCKER\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":700,"wires":[["da465e9a.688128"]]},{"id":"1aa4f121.7bab57","type":"mqtt out","z":"b5d1af96.0416f8","name":"","topic":"iot-2/cmd/dash/fmt/json","qos":"0","retain":"false","broker":"7c57f6c4.3c047","x":790,"y":560,"wires":[]},{"id":"9c8e2870.396da8","type":"function","z":"b5d1af96.0416f8","name":"openMsg","func":"msg={\"payload\":\"{\\\"d\\\":{\\\"id\\\":\\\"o\\\",\\\"seq\\\":0,\\\"type\\\":\\\"dashboard\\\",\\\"uptime\\\":0}}\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":520,"wires":[["1aa4f121.7bab57"]]},{"id":"3e97a7e4.8dcaf","type":"ui_text","z":"b5d1af96.0416f8","group":"556a5436.4cd3d4","order":0,"width":0,"height":0,"name":"","label":"Topic","format":"{{msg.topic}} ","layout":"row-spread","x":550,"y":360,"wires":[]},{"id":"7c57f6c4.3c047","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"dashboard","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1a4f8994.63fa8e","type":"ui_group","z":"","name":"Raw Data","tab":"1526c8d2.9a6b57","order":3,"disp":true,"width":"6","collapse":false},{"id":"556a5436.4cd3d4","type":"ui_group","z":"","name":"Packet decoder","tab":"1526c8d2.9a6b57","order":2,"disp":true,"width":"6","collapse":false},{"id":"b3e7ba13.dfb8c","type":"ui_group","z":"","name":"Interphone state","tab":"1526c8d2.9a6b57","order":1,"disp":true,"width":"6","collapse":false},{"id":"1526c8d2.9a6b57","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]